@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
@plugin "@tailwindcss/typography";

/* a:hover{ */
/* TODO: Understand why other elements move when p-2 is added on hover. */
/* @apply duration-500 hover:scale-110 hover:bg-slate-100 p-2 rounded-lg; */
/* @apply duration-500 bg-slate-100 rounded-lg; */
/* } */

/* TODO: See how to use theme for this. */
html {
    @apply text-[#333333] bg-[url(/img/bg_pattern.jpg)] m-auto
}

#main_nav {
    @apply max-sm:dropdown;
    @apply max-sm:pb-[20px];
}

#main_nav a[href][aria-current="page"] {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    @apply sm:block;
}

.menu-icon {
    @apply sm:hidden;
}

#menu-icon-svg {
    @apply sm:hidden;
}

.menu-icon:hover .nav-item {}

#main_nav .nav {
    @apply sm:flex sm:flex-row sm:justify-center;
    @apply max-sm:menu max-sm:bg-base-100 max-sm:rounded-box max-sm:z-1 max-sm:w-52 max-sm:p-2 max-sm:shadow-sm;
}


#main_nav .nav-item {
    @apply sm:p-2 sm:mb-10 sm:mt-5 sm:rounded-lg sm:px-4 sm:py-2 sm:font-bold sm:hover:underline sm:text-xl;
}

.postlist-item {
    @apply max-sm:flex-wrap;
}

body {
    margin: auto;
    max-width: 60em;
    padding: 10px;
}

#postlist-item:hover+#item-anim {
    background: #ccc
}

.resume-section-title {
    @apply font-bold mt-[10px] text-xl mb-5 uppercase
}

.resume-border {
    @apply border-b-1 border-[#e6e6e6]
}

.link {
    @apply underline decoration-1 decoration-dashed;
}

heading-anchors a{
    @apply underline decoration-1 decoration-dashed list-disc;
}

@theme {
    --text-xm: 0.750rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.250rem;
}