---js
const eleventyNavigation = {
	key: "About",
	order: 1
};
const numberOfLatestPostsToShow = 7;
const title = "Mmanu Chaturvedi: Home";
---
Hello!  Namaste!  This is Mmanu Chaturvedi's home on the web.  <i> Tread very, very lightly!</i>
<br><br>
Here you will find his resume, some projects that he wishes to highlight and his weblog.  He can be contacted via email:

<div class="">
	<p>
<a class="link" href='mailto&#58;%&#54;Dman&#117;&#46;c&#104;%61tur&#37;7&#54;e&#100;&#105;&#64;&#103;mail&#46;%&#54;3&#37;6Fm'>&#109;ma&#110;u&#46;&#99;&#104;atu&#114;&#118;&#101;&#100;&#105;&#64;&#103;mail&#46;&#99;om</a>
	</p>
</div>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
{# <h1>Here are my latest {{ latestPostsCount }} blogpost{% if latestPostsCount != 1 %}s{% endif %}:</h1> #}

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk" class="link">the archive</a>.</p>
{% endif %}



{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}


