<h1 class="mb-[20px] font-bold">Tags:</h1>

<ul>
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag link">{{ tag }}</a></li>
{% endfor %}
</ul>
